.S1-input {
        float: right;
        position: relative;
        padding-top: 0px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 0px;
		float:left;
		font-family: raleway;
		font-size: 16pt;
		color: #000000;
        margin-top: 10px;
    bottom: 30px;
}
/* TESTING THINGS  */
    /* LOADER */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 300px;
    height: 120px;
    animation: spin 2s linear infinite;
    text-align: center;
    width: 50%;
    
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.waiting{
                position: absolute;
                top: 15%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: Verdana, Geneva, sans-serif;
                font-size: 40px;
                font-weight: bold;
                opacity: .5;
                font-style: italic;
                text-align: center;
    width: 50%;
    text-align: center;
                }

.but2 {
    background-color: lightgrey;
    border: 2px solid black;
    color: black;
    /*padding: 15px 32px;*/
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    margin: 80px;
    max-width: 80px;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

.but2:hover {
    background-color: lightskyblue; /* Green */
    color: white;
}

.mid2{
    margin: auto;
    width: 50%;
    /*height: 50%;*/
    /*border: 1px solid green;*/
    padding-top: 200px;
    padding-left: 100px;
    
    
    
    
}
.mid{
    margin: auto;
    width: 50%;
    height: 50%;
    border: 1px solid green;
    padding-left: 100px;
    padding-top:0px; 
    

    
}

div#loading {
    width: 50%;
    height: 50px;
    display: none;
    cursor: wait;
    margin: auto;
    padding: 70px 0;
    
    width: 50%;
    /*border: 3px solid green; */
    padding: 10px;
    }

.textbox {
        padding:8px 16px;
        float:left;
        position: relative;
        width:auto;
        border:none;
        display:block;
        outline:0
        z-index: -1;
    
    }
.w3-text {

        position: relative;
        padding-top: 0px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 0px;
		font-family: raleway;
		font-size: 16pt;
		color: #000000;
        margin-top: 10px;
        margin-bottom: auto;
        bottom: 0;
    }

.new_upload{
        float: right;
		position: relative;
		margin: 5px;
		width: 200px;
		height: 50px;
        z-index: -1;
        display: inline-block;
        text-align: center;
    }

.but {
    background-color: lightgrey;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    bottom: 321;
    border-radius: 4px;
    margin: 20px;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    }

.but:hover {
    background-color: lightskyblue; /* Green */
    color: white;
}

.texting {
		padding-top: 0px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 0px;
		float:center;
		font-family: raleway;
		font-size: 2pt;
		color: #000000;
        position: center;
	}

table {
        border: 2px black solid;
        font: 12px sans-serif;
    }

td {
        border: 1px black solid;
        padding: 5px;
        border: 1px solid black;
    }

tr {
        border: 1px solid black;
    
    
    }

.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}


    }
.left-align {
        text-align:left!important;
		margin: 5px;
		background-color: whitesmoke;
	}

.figure{
    border-radius: 8px;
    max-width: 40%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.foot{
    bottom: 0px !important;
    left: 0px;
    right: 0px;
    margin-bottom: 0px !important;
    margin-top: 50px !important;
    position: fixed;
    
}

.bod {
    bottom: 50px !important;
    
}

th.back{
    background-color: #4CAF50;
}


    .newn{
        
        margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
        
        
    }



.indent{
    padding: 50px;
    }
.indent2{
    position: relative;
    left: 50px;
    }
.indent3{
    position: relative;
    left: 20px;
    }
















* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px;
  /* must be same height as the footer */
}

#footer {
  position: fixed;
  margin-top: -180px;
    left: 0;
   bottom: 0;
    width: 100%;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  background-color: red;
}


/* Opera Fix thanks to Maleika (Kohoutec) */

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}