<!DOCTYPE html> 

<html>
	<meta name = "viewport" content= "width = device-width, initial-scale = 1.0">

	<head>
		<title> MAPFEAT </title>
		<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles/stylesheet.css') }}"/>
	</head>
	
	<body>
		<div class = "high_row">
			<p class = "name"> MAPFEAT </p>
			<ul id = "nav">
				<li><a href = "contact"> CONTACT </a></li>
				<li><a href = "about"> ABOUT </a></li>
                <li><a href = "screen1"> Key Word Search </a></li>
                <li><a href = "home"> MAPFEAT </a></li>
                <li><a href = "/"> HOME </a></li>
			</ul>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script type="text/javascript">
				$("#nav").addClass("js").before('<div id="menu">&#9776;</div>');
				$("#menu").click(function(){
					$("#nav").toggle();
				});
				$(window).resize(function(){
					if(window.innerWidth > 710) {
						$("#nav").removeAttr("style");
					}
				});
			</script>
		</div>
		
		<div class = "row">
			<h3>Contact us anytime during business hours. We are happy to answer any questions.
our business hours are monday to friday 9:00 am to 5:00 pm mst</h3>
		</div>
		
		<div class = "low_row"></div>
	</body>
</html>