{% extends "post-login-nav.html" %}
	
<!--child template-->
{% block content %}
    
		<div class = "row">
			<div class = "w3-justify">
                <p class = "w3-text"> Upload new CSV File - input for MAPFEAT </p>
                    <form method = POST enctype = multipart/form-data>
                    <p  > 
                    <input class="but" type = file name = file>
                        </p>
                    <input type = submit value = Upload class="but">
                    </form>
          </div>
            <br>
            <div class = "w3-text">
                <p>
                Upload a set of tweets related to an emergency event to find a list of features and search queries.
                
                
                </p>
            </div>
        </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}