{% extends "pre-login-nav.html" %}
        
<!--child template-->
{% block content %}

  <title> Fill Form Parameters</title>
        <fieldset>
                <legend>Fill Form Parameters</legend>
            <label>Input Integers to Fill Fields</label>
            
        <form action = "/inputs" method = "POST"> <br>
          <input class = "w3-text"  type="text" name="text1" placeholder = "Integer 1">
           Number of Words per Topic </input><br>
            
          <input class = "w3-text" type="text" name="text2" placeholder="Integer 2"> Number of Topics</input><br>
            
          <input class = "w3-text" type="text" name="text3" placeholder="Integer 3"> Maximum Number of Apps per App Store Query</input><br>

          <input class = "w3-text" type="text" name="text4" placeholder="Integer 4"> Minimum Number of Apps per Query Sharing Each Feature</input><br><br>

        <input type="submit" value="Submit"></input>
            <br>
        </form>
        </fieldset>
{% endblock %}