{% extends "pre-login-nav.html" %}
        
<!--child template-->
{% block head %}{% endblock %}
{% block content %}

      <h1 class ="mid2">Please login</h1>
      
      <form action="" method="post" class = "mid">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
         <br>
          <a href="newacc" >Create Account</a>
        <a href="forgotpass" class ="indent3">Forgot My Password</a>
          <br><br>
          
        <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>
        </div>
          <br>
         
        <div class="g-recaptcha" data-sitekey="6Ld6aWYUAAAAAM00of-ydMGGFtzRoLMmwU8avCj4"></div> <br> 
          
        <input class="w3-button" type="submit" value="Login">
          
        
      </form>

    













<script src='https://www.google.com/recaptcha/api.js'></script>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            
{% endblock %}