{% extends "pre-login-nav.html" %}
        
<!--child template-->
{% block content %}

  <title> Create New Account </title>
        <!--<fieldset>
                <legend>Create New Account</legend>
            <label> Error: missing fields</label>
            
        <form action = "/newacc" method = "POST"> <br>
          <input class = "w3-text"  type="text" name="usernames" placeholder = "Email">
           Email/Username </input><br>

            
          <input class = "w3-text" type="text" name="passwords" placeholder="Password"> Password</input><br>

        <input type="submit" value="Submit"></input>
            <br>
        </form>
        </fieldset>
        -->
    <div class = "row">
            <div class = "left-align">
                <h4><p class = "textrec indent"> Please Contact Dr.Gunther Ruhe for an account and password<br>
                    
                    <a href="mailto:Ruhe@ucalgary.ca?Subject=Hello%20Dr.Ruhe" target="_top">Ruhe@ucalgary.ca</a>
                    </p>
                </h4>
                </div>
            
            
		</div>
{% endblock %}