<!DOCTYPE html> 

<html>

	<meta name = "viewport" content= "width = device-width, initial-scale = 1.0">

	<head>
		<title> MAPFEAT </title>
		<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles/stylesheet.css') }}"/>
        <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles/stylesheet.css') }}"/>
        <script type="text/javascript">// <![CDATA[
        function preloader(){
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader
        window.onload = preloader;
// ]]></script>

	</head>
	
	<body>
            <div id="loading"></div>
    <div id="content">
		<div class = "high_row">
			<p class = "name"> MAPFEAT </p>
			<ul id = "nav">
				<li><a href = "contact"> CONTACT </a></li>
				<li><a href = "about"> ABOUT </a></li>
				<li><a href = "home"> HOME </a></li>
			</ul>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script type="text/javascript">
				$("#nav").addClass("js").before('<div id="menu">&#9776;</div>');
				$("#menu").click(function(){
					$("#nav").toggle();
				});
				$(window).resize(function(){
					if(window.innerWidth > 710) {
						$("#nav").removeAttr("style");
					}
				});
			</script>
		</div>
		
    <div>
        <fieldset>
                <legend>keywords for search</legend>
            <label>select keywords to refine search</label>
        <div>
        <form action = "/screen1" method = "POST"> <br>
        <div class = "new_upload">
                <p class = "texting" placeholder="key word 1:"> Key word 1: </p> 
        </div> 
          <input class = "w3-text"  type="text" name="t_1" placeholder = "Input: 1"></input><br>
        <div class = "new_upload">
                <p class = "texting"> Key word 2: </p>
          </div>   
          <input class = "w3-text" type="text" name="t_2" placeholder="Input: 2"></input><br>
       <div class = "new_upload">
                <p class = "texting"> Key word 3: </p>
          </div>
          <input class = "w3-text" type="text" name="t_3" placeholder="Input: 3"></input><br>
       <div class = "new_upload">
                <p class = "texting"> Key word 4: </p>
          </div> 
          <input class = "w3-text" type="text" name="t_4" placeholder="Input: 4"></input><br>
            <br>
          <input class = button type="submit" value="Submit"></input>
          </div>
        </fieldset>
          <fieldset>
                <legend>Store Search</legend>
                
                <label>Search IOS, Play, or Windows store?</label><br/>
                <input type="checkbox" name="store_type[]" value="google" checked/> Google Play  <br/>
                <input type="checkbox" name="store_type[]" value="apple" checked/> Apple IOS <br/>
                <input type="checkbox" name="store_type[]" value="windows" disabled/> Windows (Disabled)  <br/>
          </fieldset>
         </form>         
      </div>
        <div class = "low_row"></div>
    </div>
	</body>
    
</html>