<!DOCTYPE html> 

<html>

	<meta name = "viewport" content= "width = device-width, initial-scale = 1.0">

	<head>
		<title> MAPFEAT </title>
		<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles/stylesheet.css') }}"/>
        <link rel = "2stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles/2stylesheet.css') }}"/>
        
        <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>

	</head>
	
	<body>
            <div id="bro"></div>
    <div id="content">
		<div class = "high_row">
			<p class = "name"> MAPFEAT </p>
			<ul id = "nav">
				<li><a href = "contact"> CONTACT </a></li>
				<li><a href = "about"> ABOUT </a></li>
				<li><a href = "home"> HOME </a></li>
			</ul>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script type="text/javascript">
				$("#nav").addClass("js").before('<div id="menu">&#9776;</div>');
				$("#menu").click(function(){
					$("#nav").toggle();
				});
				$(window).resize(function(){
					if(window.innerWidth > 710) {
						$("#nav").removeAttr("style");
					}
				});
			</script>
		</div>
		
    <div>
        <title> Find Applications and Developers by Key Word</title>
        <fieldset>
                <legend>Search Parameters</legend>
            <label>Please Select Key Words to Refine Your Search</label>
        <div>
        <form action = "/screen1" method = "POST"> <br>
          <input class = "w3-text"  type="text" name="t_1" placeholder = "Key Word: 1"></input><br>
          <input class = "w3-text" type="text" name="t_2" placeholder="Key Word: 2"></input><br>
          <input class = "w3-text" type="text" name="t_3" placeholder="Key Word: 3"></input><br>
          <input class = "w3-text" type="text" name="t_4" placeholder="Key Word: 4"></input><br>
            <br>
        </fieldset>
          <fieldset>
                <legend>Store Search </legend>
                
                <label>Search IOS, Play, or Windows store?</label><br/>
                <input type="checkbox" name="store_type[]" value="google" checked/> Google Play  <br/>
                <input type="checkbox" name="store_type[]" value="apple" checked/> Apple IOS <br/>
                <input type="checkbox" name="store_type[]" value="windows" disabled/> Windows (Disabled)  <br/>
          </fieldset>
        <input class = button type="submit" value="Submit" name="anything_submit" onclick = "loading();"></input>
          </div>
         </form>         
      </div>
    <div id="loading">
        <p>
    <h1>Loading...</h1>
        </p>
    </div>
    <div id="content"></div>
        <div class = "low_row"></div>
    </div>
	</body>
    
</html>