{% extends "post-login-nav.html" %}
        <!--child template-->

{% block head %}
		<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='styles/stylesheet.css') }}"/>
        
        
        
        <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
{% endblock %}
	
{% block content %}
			
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			
		{% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
            <div id="content">                                                                                    <!--   div 1 'CONTENT' -->
                
                 <div id ="wrap">                                                                                                                    <!--   BLOCK      div 3  -->  
                
                
   <div id ="main">                                                                                                                    <!--   BLOCK      div 3  -->  
        <title> Find Applications and Developers by Keyword</title>
        <form action = "/screen1" method = "POST"> <br>                                                                  <!--      form  --> 
        <fieldset>                                                                                                          <!--      fieldset 1  -->  
                <legend>Find Applications and Developers by KeyWord</legend>
            <label>Describe your product in 4 main keywords</label>
        <div>                                                                                                                   <!--      div 4  -->  
        <br>
          <input class = "w3-text"  type="text" name="t_1" placeholder = "Key Word: 1"></input><br>
          <input class = "w3-text" type="text" name="t_2" placeholder="Key Word: 2"></input><br>
          <input class = "w3-text" type="text" name="t_3" placeholder="Key Word: 3"></input><br>
          <input class = "w3-text" type="text" name="t_4" placeholder="Key Word: 4"></input><br>
            <br>
        </div>                                                                                                                  <!--        end div  4)  -->  
        </fieldset>                                                                                                         <!--      end fieldset 1  -->  
          <fieldset>                                                                                                        <!--        fieldset 2  -->  
                <legend>Store Search </legend>
                
                <label>Search IOS, Play, or Windows store?</label><br>
                <input type="checkbox" name="store_type[]" value="google" checked/> Google Play  <br>
                <input type="checkbox" name="store_type[]" value="apple" checked/> Apple IOS <br>
                <input type="checkbox" name="store_type[]" value="windows" disabled/> Windows (Disabled)  <br>
          </fieldset>                                                                                                       <!--       end fieldset 2  -->  
                                                                     <!--      form start  -->  
        <input class = button type="submit" value="Submit" name="anything_submit" onclick = "loading();"></input>
          
         </form>                                                                                                        <!--        end form  -->  
     </div>                                                                                                 </div>               <!--   block            end div 3  -->
    </div>                                                                                                              <!--        end div 1  -->  
    <div class=waiting>                                                                                                 <!--    div 5  -->  
    <div id="loading">                                                                                                     <!--       div 6  -->  
        <p>
    <h1>Loading...</h1>
        </p>
    </div>                                                                                                                 <!--       end div 6  -->  
     <!-- <div id="content"></div>                                                                                                   div 7 and end div 7  -->  
       <!--  <div class = "low_row"></div>                                                                                          div 8 and end div 8  -->  
    </div>                                                                                                              <!--      end div 5  -->  
<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}